option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

  # Point the app root to the public/ folder.
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /public

  # Set here your php.ini `memory_limit` value.
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: memory_limit
    value: 256M

files:
  "/etc/php.d/laravel.ini" :
    mode: "000644"
    owner: root
    group: root
    content: |
      opcache.enable=1
      opcache.enable_cli=1
      opcache.memory_consumption=512
      opcache.interned_strings_buffer=128
      opcache.max_accelerated_files=1000000
      realpath_cache_size=8192K
      realpath_cache_ttl=600
      opcache.max_wasted_percentage=5
      opcache.validate_timestamps=0
      opcache.revalidate_freq=0
      opcache.fast_shutdown=1
      opcache.blacklist_filename=/etc/php-7.2.d/opcache*.blacklist
      opcache.huge_code_pages=1

commands:
  00_update_composer:
    command: export COMPOSER_HOME=/root && sudo /usr/bin/composer.phar self-update

container_commands:
  00_setup_post_deploy_script_permissions:
    command: "sudo chmod +x .platform/hooks/postdeploy/*.sh"
    cwd: "/var/app/staging"
    
  01_install_composer_dependencies:
    command: "sudo php /usr/bin/composer.phar install --no-dev --no-interaction --prefer-dist --optimize-autoloader"
    cwd: "/var/app/staging"

  02_run_migrations:
    command: "php artisan migrate --force"
    cwd: "/var/app/staging"
    leader_only: true
